html, body, .container, .content-overlay{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: #fdff2b;
    margin: 0.5rem;
}

h2 {
    font-family: 'Michroma', sans-serif;
    font-size: 1.6rem;
    color: #FFF;
}

p {
    font-family: 'Michroma', sans-serif;
    color: #FFF;
}

a {
    color: #01E2FE;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.content-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.content {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.content-overlay .usage-box {
    width: 80%;
    border: 3px solid #01E2FE;
    border-radius: 25px;
    background-color: #333333;
    position: relative;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 8px 20px;
    text-align: left;
}

#credits {
    position: absolute;
    bottom: 0;
    right: 15px;
}

#credits p {
    font: 700 1.1rem "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (max-width: 500px) {

    .content {
        display: block;
        padding-top: 150px;
        top: 0;
        transform: translateY(0%);
    }

    #credits {
        position: relative;
        margin-top: 1.5rem;
        bottom: auto;
        right: auto;
    }
}